<!DOCTYPE html>
<html lang="en">
<head>

<body><title>{{ title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme"></h1>
  <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
  <a href="login" class="w3-bar-item w3-button">Login/Register</a>
  <a href="porders" class="w3-bar-item w3-button">Place Orders</a>
  <a href="torders" class="w3-bar-item w3-button">Track Orders</a>
  <a href="vorders" class="w3-bar-item w3-button">View Orders</a>
</nav>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
  <div class="w3-center">
  <h1 class="w3-xxxlarge w3-animate-bottom">Post, Freight & Cargo</h1>
      <h3>Hassle-free Moving!</h3>
    <div class="w3-padding-32">
      <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">Get Started</button>
    </div>
  </div>
</header>

<!-- Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
      <header class="w3-container w3-theme-l1">
        <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">×</span>
        <h4>Get Started with us!</h4>
      </header>
      <div class="w3-padding">
        <p>Already have account?</p>
          <p><a class="w3-btn" href="login">Login</a></p>
        <p>If not..</p>
          <p><a class="w3-btn" href="register">Register</a></p>

      </div>
    </div>
</div>

<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Place Orders</h3><br>
   <img src="https://thumbs.dreamstime.com/b/place-order-icon-isolated-white-background-your-web-mobile-app-design-133863022.jpg" width="300" height="300">
  <br>
    <br>
     <a class="w3-button w3-theme" href="porders">Button</a>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Track Orders</h3><br>
    <img src="https://cdn0.iconfinder.com/data/icons/common-version1-2/1024/track_order-512.png" width="250" height="250">
    <br>
    <br>
    <br>
    <br>
    <a class="w3-button w3-theme" href="torders">Button</a>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>View Orders</h3><br>
    <img src="https://cdn4.iconfinder.com/data/icons/e-commerce-solid-shopping-frenzy/512/track_shipment-512.png" width="300" height="250">
    <br>
    <br>
    <br>
    <br>
    <a class="w3-button w3-theme" href="vorders">Button</a>
  </div>
</div>
</div>

<br>

<!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Get in touch with us.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>

<!-- Footer -->
<footer class="w3-container w3-theme-dark w3-padding-16">
  <div class="col-xs-6 col-md-3">
              <h6>  Quick Links</h6>
              <ul class="footer-links">
                <li><a href="">Mail</a></li>
                <li><a href="">Linkedin</a></li>
                <li><a href="">Phone Number</a></li>
              </ul>
              <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
           <a href="#">Post, Freight and Cargo</a>
            </div>
</footer>

<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script>
// Side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "100%";
  x.style.fontSize = "40px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Tabs
function openCity(evt, cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  var activebtn = document.getElementsByClassName("testbtn");
  for (i = 0; i < x.length; i++) {
    activebtn[i].className = activebtn[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-dark-grey";
}

var mybtn = document.getElementsByClassName("testbtn")[0];
mybtn.click();

// Accordions
function myAccFunc(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// Slideshows
var slideIndex = 1;

function plusDivs(n) {
  slideIndex = slideIndex + n;
  showDivs(slideIndex);
}

function showDivs(n) {
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}

showDivs(1);

// Progress Bars
function move() {
  var elem = document.getElementById("myBar");
  var width = 5;
  var id = setInterval(frame, 10);
  function frame() {
    if (width == 100) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
      elem.innerHTML = width * 1  + '%';
    }
  }
}
</script>
</body>
</html>